@using EntityLayer.Concrete
@model List<Not>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/YazarLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Yazar</th>
        <th>Detaylar</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Konu</td>
            <td>@(((DateTime)item.Tarih).ToString("dd-MMM-yyyy"))</td>
            <td></td>
            <td><a href="/Not/NotOku/@item.Id" class="btn btn-primary">Detay</a></td>
            <td><a href="/Not/NotSil/@item.Id" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>