@model EntityLayer.Concrete.Not
@{
    ViewData["Title"] = "NotDetay";
    Layout = "~/Views/Shared/YazarLayout.cshtml";
}

        <h1>@Model.Konu</h1>
        <p>@Model.Metin</p>
        <p class="text-muted">Oluşturulma Tarihi: @Model.Tarih.ToString("dd MMMM yyyy HH:mm:ss")</p>
    
