<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-actions">
            <span class="nav-link">
                <a href="/Not/NotEkle" class="btn btn-block btn-lg btn-gradient-success mt-4">+ Günlük Yaz</a>
            </span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Not">
                <span class="menu-title">Notlar</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Yazar/YazarDuzenle">
                <span class="menu-title">Profil</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>