@using Gunluk.Controllers
@model List<Class1>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/YazarLayout.cshtml";
}
<h2>Çalışan Listesi</h2>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Ad</td>
                <td><a href="/Calisan/CalisanDuzenle/@item.Id" class="btn btn-primary">Güncelle</a></td>
                <td>
                    <button class="btn btn-danger delete-button" data-id="@item.Id">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href="/Calisan/CalisanEkle" class="btn btn-gradient-info mr-2">Yeni Kayıt</a>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".delete-button").click(function () {
                var id = $(this).data("id");
                Swal.fire({
                    title: "Emin misiniz?",
                    text: "Bu notu silmek istediğinizden emin misiniz?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Evet, sil!",
                    cancelButtonText: "İptal"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Silme işlemi burada gerçekleştirilebilir.
                        window.location.href = "#" + id;
                    }
                });
            });
        });
    </script>
}