@using EntityLayer.Concrete
@model List<Yazar>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/YazarLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h2>Yazarlar</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Notlar</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.YazarId</td>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td><a href="#" class="btn btn-warning">Notlar</a></td>
            <td><a href="#" class="btn btn-primary">Güncelle</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="#" class="btn btn-success">Ekle</a>